<li>
  {{sujet.titre}}
<br>
  <button (click)="etat=!etat">Afficher les Sujets</button>
  <button (click)="supprimerEmit()">Supprimer Sujets</button>
          <div *ngIf="etat">
          <fieldset *ngFor="let m of sujet.messages">
              <legend>{{m.pseaudo}}</legend>
            <p>
              {{m.contenu}}
            </p>
            <button (click)="SupprimerMessage(m)">Supprimer</button>
          </fieldset>
      <h2>Réponses</h2>
        <!-- <form #form="ngForm" (ngSubmit)="envoyer(user.value,msg.value);form.reset();log(user)">
          <label>Pseaudo</label><input type="text"  minlength="3" pattern="[a-z,A-Z]+" required ngModel #user="ngModel" name="user" >
          <div class="alert alert-danger" *ngIf="user.invalid && user.touched" >
            <span *ngIf="user.errors.required"> username required</span>
            <span *ngIf="user.errors.minlength"> username minlength </span>
            <span *ngIf="user.errors.pattern"> username pattern </span>
          </div> 
        <br>
          <label>Messages</label><textarea  ngModel #msg="ngModel" name="message"></textarea> <br>
<label>Envoyer un mail : </label>
<input name="emailcheckbox" type="checkbox" ng-model #emailcheckbox > <br>
<label>Partager via :</label>
<select name="partage" ngModel multiple>
  <option *ngFor="let p of PartageMethode">{{p}}</option>
</select>
<br>
<div *ngFor="let p of PartageMethode" >


<input type="radio"  ngModel name="radioPartage" value="{{p}}"  *ngFor="let p of PartageMethode"> {{p}} <br>
</div>
          <button [disabled]="form.invalid" >Répondre</button>
          {{form.value|json}}
        </form> -->

        <form [formGroup]="form">
          <label>Pseaudo</label>
          <input type="text" formControlName="user" >
          <div class="alert alert-danger" *ngIf="user.touched&&user.invalid">
            <span *ngIf="user.errors.required"> username required</span>
            <span *ngIf="user.errors.minlength"> username minlength </span>
            <span *ngIf="user.errors.nospace"> username No Space validator </span>
          </div> 
        <br>
          <label>Messages</label>
          <textarea formControlName="message" ></textarea> <br>
        <br>
          <button [disabled]="form.invalid">Répondre</button>
      </form>
  </div>
</li>